.contacts {
  margin: 40px 0;
  padding: 80px 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font: 700 24px/28px Poppins;
  color: #00abf0;
}

.sub_header {
  font: 600 15px/20px Poppins;
  color: #fff;
}

.contacts_content {
  position: relative;
  left: -250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 30px;
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 35px;
}

.contact_info_wrapper {
  display: grid;
  grid-template-areas: "icon icon contact_header" "icon icon paragraph" "icon icon add_contact_paragraph";
  justify-items: start;
  align-items: center;

  gap: 2px 10px;
}

.contact_icon_wrapper {
  grid-area: icon;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 12px -6px #fff;
}
.contact_icon {
  width: 40px;
  height: 40px;
}

.contact_icon_white {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.contact_header {
  grid-area: contact_header;
  font: 700 18px/21px Poppins;
  color: #fff;
}

.contact_paragraph {
  grid-area: paragraph;
  font: 500 15px/18px Poppins;
  color: #fff;
}
.add_contact_paragraph {
  grid-area: add_contact_paragraph;
  font: 500 15px/18px Poppins;
  color: #fff;
  margin-top: 3px;
  padding-left: 40px;
  transform: translateX(-40px);
}

@media (max-width: 1400px) {
  .contacts_content {
    left: -150px;
  }

}

@media (max-width: 1280px) {
  .contacts_content {
    left: -50px;
  }
}


@media (max-width: 1024px){
  .contacts_content {
    left: 0;
  }
}
@media (max-width: 900px) {
  .contact_info {
    flex-direction: column;
    @apply mx-auto gap-4;
  }
  .contact_info_wrapper {
    display: flex;
    flex-direction: column;
    @apply gap-2;
  }

  .add_contact_paragraph {
    padding-left: 0;
    transform: translateX(3px);
    margin-top: 0;
  }
}
