.navbar_link {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar_link:hover,
.navbar_link_active{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--main-color);
    margin-left: 3.5rem;
    transition: .3s;
}