.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
  transition: scale 0.3s ease;
  position: fixed;
  top: 1rem;
}

.logo:hover {
  scale: 1.2;
}
#menu_icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
